body {
    /* background-image: url('space.png'); */
    background-color: black;
    height: 100%;
    overflow: hidden;
  }


  #myVideo {
    position: fixed;
    right: 0;
    bottom: -21%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
  }
/* general layout of starting screen */
.start{
  font-size: 5em;
  font-family: 'Silkscreen', cursive;
  font-weight: 500;
  color: transparent;
  letter-spacing: 5px;
  cursor: pointer;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}
/* give the lighting up hover effect for corresponding text on starting screen */
/* h2:hover{
  color: transparent;
  text-shadow: 2px 2px 5px ;

} */

/* common attributes among all panels */
@media(min-width:600px){
    .container-1{
      display:flex;
      flex-direction:row;
      align-items: center;
      justify-content: center;
      position:absolute;
      transform: translateX(-50%) translateY(-50%);
    top: 50%;
    text-align: center;
    left: 50%;
      
    }
.container-1 div{
    border: double rgba(97, 97, 97, 1);
  }
}




.title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1em;
    font-weight:500;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:snow;
    padding-top: 0px;
    position:absolute;
    top:0;
    left:40%;
    z-index:1;
    justify-content: center;
}

.quote{
    font-size: 1em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    color: snow;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform:uppercase;
    position:absolute;
    top:70%;
    left:20%;
    z-index:1;
  }

  .click{
    font-size: 1em;
    /* font-family: 'Silkscreen', cursive; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    color: snow;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px snow;
    position:absolute;
    top:75%;
    left:35%;
    z-index:1;
    text-align: center;
  }