body {
  background-color: black;
  height: 100%;
  overflow: hidden;
}


#myVideo {
  position: fixed;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
}
/* general layout of starting screen */
.start{
font-size: 5em;
font-family: 'Silkscreen', cursive;
font-weight: 500;
color: transparent;
letter-spacing: 5px;
cursor: pointer;
position:absolute;
top:0;
left:32%;
z-index:1;
}


.title{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:1em;
  font-weight:500;
  letter-spacing: 5px;
  text-transform: uppercase;
  color:snow;
  padding-top: 0px;
  position:absolute;
  top:0;
  left:44%;
  z-index:1;
  justify-content: center;
}

.quote{
  font-size: 1em;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  color: snow;
  letter-spacing: 5px;
  cursor: pointer;
  text-transform:uppercase;
  position:absolute;
  top:70%;
  left:26%;
  z-index:1;
}

.click{
  font-size: 1em;
  /* font-family: 'Silkscreen', cursive; */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  color: snow;
  letter-spacing: 5px;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px snow;
  position:absolute;
  top:75%;
  left:40%;
  z-index:1;
  text-align: center;
}